<h1>CUSTOMER LOGIN</h1>
<div class="login-wrapper">
    <form class="login-form" method= "post" action="/login">
        <input id="email" name='email' type="email" placeholder="Email" class="login-input">
        <input id="password" name = 'password' type="password" placeholder="Password" class="login-input">
        <button class="btn-login">Login</button>
        <p id="information" class="error-text"></p>
        </form>
        <a href = "/register">
        <button class="btn-login">Register</button>
        </a>
</div>