<h1>CUSTOMER REGISTER</h1>
<div class="login-wrapper">
    <form class="login-form" method= "post" action="/register">
        <input id="fullname" name="fullname" placeholder="Full Name" class="login-input" value="">
        <input id="email" name="email" type="email" placeholder="Email" class="login-input">
        <input id="password" name="password" type="password" placeholder="Password" class="login-input">
        <p id="information" class="error-text"></p>
        <button class="btn-login">Register</button>
    </form>
</div>